@use '../../../../../node_modules/sass-mq/mq';

// Name your breakpoints in a way that creates a ubiquitous language
// across team members. It will improve communication between
// stakeholders, designers, developers, and testers.
// $breakpoints: (
//   mobile: 320px,
//   tablet: 740px,
//   desktop: 1240px
// );
// If you want to display the currently active breakpoint in the top
// right corner of your site during development, add the breakpoints
// to this list, ordered by width. For examples: (mobile, tablet, desktop).
// $show-breakpoints: (mobile, tablet, desktop);
// @use '../../../../../node_modules/sass-mq/mq' with (
//   $breakpoints: $breakpoints,
//   $show-breakpoints: $show-breakpoints
// );

.error {
  color: red;
}

#postFeedback {
  visibility: hidden;
  min-width: 250px;
  color: #fff;
  text-align: center;
  border-radius: 10px;
  padding: 16px;
  z-index: 1;
  font-size: 14px;
  margin-left: auto;
  margin-right: auto;
}

#postFeedback.requestOk {
  background-color: green;
}

#postFeedback.requestKo {
  background-color: red;
}

#postFeedback.show {
  visibility: visible;
  -webkit-animation:
    fadein 0.5s,
    fadeout 0.5s 2.5s;
  animation:
    fadein 0.5s,
    fadeout 0.5s 2.5s;
}

@-webkit-keyframes fadein {
  from {
    bottom: 0;
    opacity: 0;
  }
  to {
    bottom: 30px;
    opacity: 1;
  }
}

@keyframes fadein {
  from {
    bottom: 0;
    opacity: 0;
  }
  to {
    bottom: 30px;
    opacity: 1;
  }
}

@-webkit-keyframes fadeout {
  from {
    bottom: 30px;
    opacity: 1;
  }
  to {
    bottom: 0;
    opacity: 0;
  }
}

@keyframes fadeout {
  from {
    bottom: 30px;
    opacity: 1;
  }
  to {
    bottom: 0;
    opacity: 0;
  }
}

.post-line {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-gap: 10px;
  grid-auto-rows: minmax(100px, auto);

  @include mq.mq($from: tablet) {
    grid-template-columns: repeat(2, 1fr);
  }

  @include mq.mq($from: desktop) {
    grid-template-columns: repeat(3, 1fr);
  }
}
