<!-- NO AUTH REQUIRED -->
<mat-toolbar *ngIf="showNoAuthSection" color="primary">
  <button mat-flat-button color="primary" (click)="dashboard()">
    Dashboard
  </button>
  <button mat-flat-button color="primary" (click)="home()">Home</button>
  <span class="example-spacer"></span>
  <button mat-flat-button color="primary" (click)="login()">Login</button>
  <button mat-flat-button color="primary" (click)="register()">Register</button>
</mat-toolbar>

<!-- AUTH REQUIRED -->
<mat-toolbar *ngIf="showAuthSection" color="primary">
  <button mat-flat-button color="primary" (click)="dashboard()">
    Dashboard
  </button>
  <button mat-flat-button color="primary" (click)="home()">Home</button>
  <button mat-flat-button color="primary" (click)="adminPosts()">
    Admin Posts
  </button>
  <button mat-flat-button color="primary" (click)="adminCategories()">
    Admin Categories
  </button>
  <span class="example-spacer"></span>
  <button mat-flat-button color="primary" (click)="profile()">Profile</button>
  <button mat-flat-button color="primary" (click)="logout()">Logout</button>
</mat-toolbar>
