<div class="posts-container">
  <mat-card class="post-card" appearance="outlined" *ngFor="let post of posts">
    <mat-card-header>
      <div mat-card-avatar class="post-header-image"></div>
      <mat-card-title>{{ post.title }}</mat-card-title>
      <mat-card-subtitle
        >{{ post.userAlias }} | {{ post.publication_date | formatDate: 3 }}
      </mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="/assets/shiba2.jpg" alt="Photo of a Shiba Inu" />
    <mat-card-content>
      {{ post.description }}
    </mat-card-content>
    <mat-card-actions class="social-network">
      <div class="entry">
        <button
          mat-icon-button
          color="primary"
          (click)="like(post.postId)"
          [disabled]="!showButtons"
        >
          <mat-icon>thumb_up</mat-icon>
        </button>
        {{ post.num_likes }}
      </div>
      <div class="entry">
        <button
          mat-icon-button
          color="primary"
          (click)="dislike(post.postId)"
          [disabled]="!showButtons"
        >
          <mat-icon>thumb_down</mat-icon>
        </button>
        {{ post.num_dislikes }}
      </div>
    </mat-card-actions>
  </mat-card>
</div>
