@use '../../../../../node_modules/sass-mq/mq';

.posts-container {
  padding: 8px;
  display: grid;
  grid-gap: 10px;
  margin-bottom: 60px;
  justify-content: space-around;
  @include mq.mq($from: tablet) {
    justify-content: center;
    grid-template-columns: repeat(auto-fill, 300px);
  }
  @include mq.mq($from: desktop) {
    justify-content: start;
  }
}
